// index.html.jade
doctype html
html
  head
    meta(charset='UTF-8')
    title My Blog
  body
    h1 My Blog
    h2 Post List
    ul.posts
      each post in getCollection('html').findAll({layout: 'post'}).toJSON()
        li.post
          a(href='./#{post.url}')= post.title